<!DOCTYPE html>
<html>
<head>
<% include ../include/common/head %>
<% include ../include/common/head-css %>
</head>

<body>
<% include ../include/common/header %>
<% include ../include/common/nav %>

  <p><span class="icon--a"></span>トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文トップリード文</p>
  <p><%= data.default.title %></p>
</body>

</html>
