<!DOCTYPE html>
<html>
<head>
<% include ../include/common/head %>
<% include ../include/common/head-css %>
</head>

<body>
  <% include ../include/common/header -%>

  <% include ../include/module/main-visual -%>

  <% include ../include/module/slider -%>

  <% include ../include/common/footer -%>
  <% include ../include/common/footer-js -%>
</body>
</html>
