<!DOCTYPE html>
<html>
<head>
<% include ../include/common/head %>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<% include ../include/common/head-css %>
</head>

<body>
  <% include ../include/module/portfolio/portfolio-header -%>
  <% include ../include/module/portfolio/key-visual -%>
</body>
</html>
