<!DOCTYPE html>
<html>
<head>
<% include ../include/common/head %>
<% include ../include/common/head-css %>
</head>

<body>
  <% include ../include/common/header %>

  <h1>h1タイトル</h1>
  <section>
    <p>本文</p>
  </section>

  <% include ../include/module/slider -%>

  <% include ../include/common/footer -%>
  <% include ../include/common/footer-js -%>
</body>
</html>
