.standard-slider {
  margin-bottom: 40px;

  &__main {
    width: 940px;
    margin: 0 auto;
    position: relative;
  }

  &__container {
    // overflow: scroll のスクロールバーを見えなくする
    height: 296px;
    overflow: hidden;
  }

  &__list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 40px;
    width: 205px;
    height: 296px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__shop-img {
    width: 205px;
    height: 205px;
    margin-bottom: 16px;
  }

  &__shop-name {
    display: block;
    font-size: 14px;
    color: #09598d;
    font-weight: bold;
    padding-bottom: 12px;
  }

  &__shop-location {
    display: block;
    font-size: 12px;
    color: #707070;
    padding-bottom: 4px;
  }

  &__shop-price {
    display: block;
    font-size: 12px;
    color: #707070;
  }

  &__prev {
    position: absolute;
    content: "";
    display: inline-block;
    left: -50px;
    top: 80px;
    width: 50px;
    height: 50px;
    background-color: #959595;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      margin: auto auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 12.5px solid transparent;
      border-bottom: 12.5px solid transparent;
      border-right: 16px solid #fff;
    }

    &:hover {
      background-color: #ff9600;
    }
  }

  &__next {
    position: absolute;
    content: "";
    display: inline-block;
    right: -50px;
    top: 80px;
    width: 50px;
    height: 50px;
    background-color: #959595;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      margin: auto auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 12.5px solid transparent;
      border-bottom: 12.5px solid transparent;
      border-left: 16px solid #fff;
    }

    &:hover {
      background-color: #ff9600;
    }
  }
}
